 # Microsoft OAuth Configuration
MICROSOFT_CLIENT_ID=your-microsoft-client-id
MICROSOFT_CLIENT_SECRET=your-microsoft-client-secret
MICROSOFT_CALLBACK_URL=http://localhost:5050/auth/microsoft/callback

# JWT Secret
JWT_SECRET=your-jwt-secret-key

# Session Secret
SESSION_SECRET=your-session-secret-key

# Environment
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://sdv2336jr:Tin%40Estrada2336@employees.7gquzek.mongodb.net/?retryWrites=true&w=majority&appName=employees
